<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <dev-custom-card title="My Coold Library Card" content="There will be dragons. devdactic-lib (devdacticWorkspace)">
  </dev-custom-card>

  <ion-card>
    <ion-item>
      <ion-icon name="color-fill" slot="start"></ion-icon>
      <ion-label>Color example with css class in parent</ion-label>
    </ion-item>
    <ion-card-content class="custom-box">

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="link" slot="start"></ion-icon>
      <ion-label>devdactic-lib </ion-label>
      <ion-button fill="outline" slot="end" routerLink="/devdactic-lib-custom">Open</ion-button>
    </ion-item>
    <ion-card-content>
      devdactic-lib (devdacticWorkspace)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="download" slot="start"></ion-icon>
      <ion-label>devdactic-lib </ion-label>
      <ion-button fill="outline" slot="end" (click)="getData()">Load Data</ion-button>
    </ion-item>
    <ion-card-content>
      devdactic-lib (devdacticWorkspace)
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="user">
    <img [src]="user.picture.large" alt="">
    <ion-card-content>
      {{ user.email }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="link" slot="start"></ion-icon>
      <ion-label>devMobility-lib</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/dev-mobility-lib-home">Open</ion-button>
    </ion-item>
    <ion-card-content>
      devMobility-lib (devMobilityPoc)
    </ion-card-content>
  </ion-card>

</ion-content>
<dev-footer appName="Aplicación principal devdacticLibraryApp"></dev-footer>