<dev-header url="/" inputIsBackButton="false"></dev-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>(SuperApp) {{childMessage}}</ion-label>
    </ion-item>
  </ion-card>
  <dev-custom-card title="Título de la superApp" content="Mensaje de la superApp: Este card es un componente de la microApp-1" (outputFromChild)="getDataEmitter($event)">
  </dev-custom-card>
  <ion-card>
    <ion-item>
      <ion-icon name="color-fill" slot="start"></ion-icon>
      <ion-label>css (custom-box) de superApp</ion-label>
    </ion-item>
    <ion-card-content class="custom-box">

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="link" slot="start"></ion-icon>
      <ion-label>Ir microApp-1</ion-label>
      <ion-button fill="outline" slot="end" routerLink="/devdactic-lib-custom">Abrir</ion-button>
    </ion-item>
    <ion-card-content>
      Card de superApp que envía al mundo de la microApp-1
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="download" slot="start"></ion-icon>
      <ion-label>superApp usa microApp-1 </ion-label>
      <ion-button fill="outline" slot="end" (click)="getData()">Ver</ion-button>
    </ion-item>
    <ion-card-content>
      Card SuperApp que usa servicio de microApp-1
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="user">
    <img [src]="user.picture.large" alt="">
    <ion-card-content>
      {{ user.email }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="link" slot="start"></ion-icon>
      <ion-label>Ir microApp-2</ion-label>
      <ion-button fill="outline" slot="end" (click)="goToMicroApp2()">Abrir</ion-button>
    </ion-item>
    <ion-card-content>
      Card de la superApp que envía al mundo microApp-2
    </ion-card-content>
  </ion-card>

</ion-content>
<dev-footer appName="Aplicación principal superApp"></dev-footer>