<dev-header url="/" inputIsBackButton="false"></dev-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-item>
      <ion-icon name="globe" slot="start"></ion-icon>
      <ion-label>(Main App) Message: {{childMessage}}</ion-label>
    </ion-item>
  </ion-card>
  <dev-custom-card title="My Coold Library Card" content="There will be dragons. This is devdactic-lib (devdacticWorkspace)" (outputFromChild)="getDataEmitter($event)">
  </dev-custom-card>
  <ion-card>
    <ion-item>
      <ion-icon name="color-fill" slot="start"></ion-icon>
      <ion-label>css class (custom-box) in Main App</ion-label>
    </ion-item>
    <ion-card-content class="custom-box">

    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="link" slot="start"></ion-icon>
      <ion-label>devdactic-lib </ion-label>
      <ion-button fill="outline" slot="end" routerLink="/devdactic-lib-custom">Open</ion-button>
    </ion-item>
    <ion-card-content>
      Go to devdactic-lib custom page (devdacticWorkspace)
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="download" slot="start"></ion-icon>
      <ion-label>devdactic-lib </ion-label>
      <ion-button fill="outline" slot="end" (click)="getData()">Load Data</ion-button>
    </ion-item>
    <ion-card-content>
      Using devdactic-lib (devdacticWorkspace)
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="user">
    <img [src]="user.picture.large" alt="">
    <ion-card-content>
      {{ user.email }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="link" slot="start"></ion-icon>
      <ion-label>devMobility-lib</ion-label>
      <ion-button fill="outline" slot="end" routerLink="dev-mobility-lib-menu">Open</ion-button>
    </ion-item>
    <ion-card-content>
      Go to devMobility-lib (devMobilityPoc)
    </ion-card-content>
  </ion-card>

</ion-content>
<dev-footer appName="Aplicación principal devdacticLibraryApp"></dev-footer>